---
layout: layouts/base.njk
title: Complete Project History
noindex: true
permalink: /archive.html
---
{% block head %}<meta http-equiv="refresh" content="0; url=/portfolio/">{% endblock %}
{% block main %}
<section class="wrap-narrow section-block" style="text-align:center; padding-top:6em">
  <p>The project history has moved to the <a href="/portfolio/">Portfolio</a>. Redirecting…</p>
</section>
{% endblock %}
