<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-bottom footer-bottom--minimal">
      <span>© 2026 Extropian LLC, All rights reserved.</span>
    </div>
  </div>
</footer>
