<div class="header" role="banner">
  {%- if page.url == '/' %}
  <div class="tab selected-tab" style="padding:0"><a href="/" aria-label="{{ site.name }} home"><img src="/img/logo.png" alt="{{ site.name }}" style="height:3.5em"></a></div>
  {%- else %}
  <div class="tab" style="padding:0"><a href="/" aria-label="{{ site.name }} home"><img src="/img/logo.png" alt="{{ site.name }}" style="height:3.5em"></a></div>
  {%- endif %}
  {%- for item in site.nav %}
  {%- if (page.url == item.url) or (item.url != '/' and page.url and (page.url | startswith(item.url))) %}
  <div class="tab selected-tab"><a href="{{ item.url }}">{{ item.label }}</a></div>
  {%- else %}
  <div class="tab"><a href="{{ item.url }}">{{ item.label }}</a></div>
  {%- endif %}
  {%- endfor %}
  <div class="tab contact-tab"><a class="contact-btn" href="mailto:{{ site.email }}">Contact</a></div>
</div>
